<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA-dXVZiU_bQMEBhM9HPZxF8sDV42wl5_k</string>
	<key>GCM_SENDER_ID</key>
	<string>1085113590848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.reetD.SwiftUI-Authentication-Firebase</string>
	<key>PROJECT_ID</key>
	<string>swiftuiauthentication-7e1ab</string>
	<key>STORAGE_BUCKET</key>
	<string>swiftuiauthentication-7e1ab.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1085113590848:ios:8814615b99a2281068aba5</string>
</dict>
</plist>